.abo {
  position: relative;
  text-align: center;

  &__item {
    margin: 0 auto;
    width: 96px;
    height: 96px;
    padding: 22px 0;
    border-radius: 50%;
    text-align: center;
    line-height: 1;
    border: 3px solid rgba(black, .2);

    &:before { font-size: 2.5rem; }

    &:after {
      font-size: 1.8rem;
      vertical-align: 5px;
    }
  }

  &--o-pos .abo__item { 
    background-color: $red;
    border-color: $red;
    color: white;

    &:before { content: 'O'; }
    &:after { content: '+'; }
  }
  
  &--o-neg .abo__item { 
    background-color: white;
    border-color: $red;
    color: $red;

    &:before { content: 'O'; }
    &:after { content: '–'; }
  }

  &--ab-pos .abo__item { 
    background-color: black;
    border-color: black;
    color: white;

    &:before { content: 'AB'; }
    &:after { content: '+'; }
  }
  
  &--ab-neg .abo__item { 
    background-color: white;
    border-color: black;
    color: black;

    &:before { content: 'AB'; }
    &:after { content: '–'; }
  }

  &--a-pos .abo__item { 
    background-color: $abo-blue;
    border-color: $abo-blue;
    color: white;

    &:before { content: 'A'; }
    &:after { content: '+'; }
  }
  
  &--a-neg .abo__item { 
    background-color: white;
    border-color: $abo-blue;
    color: $abo-blue;

    &:before { content: 'A'; }
    &:after { content: '–'; }
  }

  &--b-pos .abo__item { 
    background-color: $green;
    border-color: $green;
    color: white;

    &:before { content: 'B'; }
    &:after { content: '+'; }
  }
  
  &--b-neg .abo__item { 
    background-color: white;
    border-color: $green;
    color: $green;

    &:before { content: 'B'; }
    &:after { content: '–'; }
  }



  
}