<header class="top-bar">
  <span class="top-bar__button js-trigger-menu">menu</span>
  <nav class="main-menu js-target-menu main-menu--left">
    <a href="./index.html">Identificação</a>
    <a href="./novo-doador.html">Cadastro</a>
    <!-- <a href="./triagem-medica.html">Triagem Médica</a> -->
    <a href="./triagem-hematologica-1.html">Triagem Hematológica 1</a>
    <a href="./triagem-hematologica-2.html">Triagem Hematológica 2</a>
    <a href="./flebotomia.html">Flebotomia</a>
    <a href="./list-view.html">Lista</a>
    <a href="./form.html">Formulario</a>
    <!-- <a href="./fracionamento.html">Fracionamento</a> -->
  </nav>
  
  <div class="top-bar__logo"><h1>{{page.title}}</h1></div>

  <!-- <span class="top-bar__button js-trigger-menu">more_vert</span>
  
  <nav class="main-menu js-target-menu main-menu--right">
    <a href="./base-elements.html">Base Elements</a>
    <a href="./forms.html">Forms</a>
  </nav> -->
</header>